# Build folder
build

# Node modules folder
node_modules

# Environment variables
.env

# Batch file that starts the development server
client-start.bat

# Batch file that renames index.html to 200.html for production
add-200.bat

# File cache that improves linting performance
.eslintcache