# Build folder
build

# Node modules folder
node_modules

# Environment variables
.env

# Batch file that starts the development server
client-start.bat

# File cache that improves linting performance
.eslintcache
